{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Now</legend>
            <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}       
            </div>
            <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %} 
            </div>
            <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %} 
            </div>

            <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                {{ form.age.label(class="form-control-label") }}

                {% if form.age.errors %}
                {{ form.age(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.age(class="form-control form-control-lg") }}
                {% endif %} 
            </div>
            </feildset>
            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
    </form>
    <div class="border-top pt-3">
        <p class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</div>
{% endblock %}
